[Unit]
Description=Save brightness value from AMDGPU
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/home/yongsheng/repos/dotfiles/scripts/fix-backlight.sh

[Install]
WantedBy=final.target
